<section class="container">
	<div class="page-header">
      <h1>{{ title }}</h1>
    </div>

    <div class="jumbotron aboutDesc">
	  <h2>Angular 2 Wiki</h2>
      
      <p>This article is part of my personal wiki where I write personal notes while I am learning new technologies. You are welcome to use it for your own learning!</p>

      <p>For a Step by Step introdution to Angular 2 I advice you to read “Getting Started With Angular 2 Step by Step” a new series of articles I just finished writing.</p>
      
      <p>
        Angular 2 is the new improved version of the ever popular JavaScript framework AngularJS. Angular 2 is a re-imagining of Angular applying all lessons learned from v1.x and promotes a component based architecture while leveraging new features of ES2015 (or TypeScript) like classes and modules.
      </p>
    </div>
</section>